<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>Podchives - Home</title>
    <link th:href="@{/ssheet.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<header>
    <div class="row">
        <h1><img class="mainlogo" th:src="@{/podchives-logos/homelogo.png}" alt="logo"></h1>
        <nav>
            <ul>
                <li><a th:href="@{/outhome}" target="_blank">TRENDING</a></li>
                <li><a th:href="@{/outhome}" target="_blank">LISTS</a></li>
                <li><a th:href="@{/outhome}" target="_blank">BLOG</a></li>
                <li><a th:href="@{/outhome}" target="_blank">DISCOVER</a></li>
                <li><a th:href="@{/outhome}" target="_blank"><img class ="icons" th:src="@{/icons/magnifying-glass.png}" alt="logo"></a></li>
                <li><a th:href="@{/outhome}" target="_blank"><img class ="icons" th:src="@{/icons/icon.png}" alt="logo"></a>
            </ul>
        </nav>
    </div>
</header>

<section>
<h1><strong class="header">FROM MY LISTEN LIST</strong></h1>
<figure>
  <div class="row">
  <div class="column">
    <img class="covers" src="covers/obama.png" alt="Obama">
  </div>
  <div class="column">
    <img class="covers" src="covers/songexploder-logo.png" alt="Song Exploder">
  </div>
  <div class="column">
    <img class="covers" src="covers/serial.png" alt="Serial">
  </div>
<div class="column">
    <img class="covers" src="covers/booksboba.png" alt="Books and Boba">
  </div>
</div>
</figure>
<br></br></li>
 

</section>
<br><br><br>


<h1><strong class="header">MY FAVORITES</strong></h1>


<br>

<figure>
  <div class="row">
  <div class="column">
    <img class="covers" src="covers/obama.png" alt="Obama">
  </div>
  <div class="column">
    <img class="covers" src="covers/songexploder-logo.png" alt="Song Exploder">
  </div>
  <div class="column">
    <img class="covers" src="covers/serial.png" alt="Serial">
  </div>
<div class="column">
    <img class="covers" src="covers/booksboba.png" alt="Books and Boba">
  </div>
</div>
</figure>
<br>

<fieldset>
<legend><h2>send us your favorite <strong>podcasts</strong>!</h2></legend>
<h3>Suggest your favorite spring recipes for a chance to be featured in the next season!</h3>
<p>Submit a podcast <a href="requests.html" target="_blank">here.</a></p>
<p>For inquiries, <a href="mailto:hb8003@wayne.edu">contact us!</a></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</fieldset>
<br>
</body>
</html>