<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>Podchives - Home</title>
    <link th:href="@{/public/ssheet.css}" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>
        <div class="row">
            <h1><img class="mainlogo" th:src="@{/podchives-logos/homelogo.png}" alt="logo"></h1>
            <nav>
                <ul>
                    <li><a th:href="@{/outhome}" target="_blank">TRENDING</a></li>
                    <li><a th:href="@{/outhome}" target="_blank">LISTS</a></li>
                    <li><a th:href="@{/outhome}" target="_blank">BLOG</a></li>
                    <li><a th:href="@{/outhome}" target="_blank">DISCOVER</a></li>
                    <li><a th:href="@{/outhome}" target="_blank"><img class="icons"
                                th:src="@{/icons/magnifying-glass.png}" alt="logo"></a></li>
                    <li><a th:href="@{/outhome}" target="_blank"><img class="icons" th:src="@{/icons/icon.png}"
                                alt="logo"></a>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <h1><strong class="header">THIS IS THE PROFILE PAGE</strong></h1>

        <br>
</body>

</html>