<!DOCTYPE html> 
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Podchives - Home</title> 
 <style>
  @import url(ssheet.css); 
 </style>
<div class="row">
<h1><img class="mainlogo" src="podchives-logos/transparent.png" alt="logo"></h1>

<nav>
 <ul>
  <li class="navigation"><a href="seasonmenu.html" target="_blank">Trending</a></li>
  <li class="navigation"><a href="about.html" target="_blank">Lists</a></li>
  <li class="navigation"><a href="requests.html" target="_blank">Blog</a></li>
  <li class="navigation"><a href="conversions.html" target="_blank">Discover</a></li>
  <li><a href="https://google.com/search" id="button" class="button"><img class ="icons" src="magnifying-glass.png" alt="logo"></a></li>
  <li><a href="veganmenu.html" target="_blank"><p class ="description">Log-In</p></a></li>
 </ul>
</nav>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
</div>
<h3></h3>

<body>
<section>
<h1><strong class="header">WELCOME TO PODCHIVES</strong></h1>
<br>

<figure>

<div id="cardfan">
	<img src="covers/obama.png" alt="Obama">
	<img src="covers/emergency.png" alt="Emergency Intercom">
	<img src="covers/anythinggoes.png" alt="Anything Goes">
</div>
</figure>
<br><br><br>



<h4 style="color: white;"> Discover new podcasts. 
  Save it now, listen later.
 Keep your favorites in one place.</h4>


<a href="archives.html" target="_blank"><h4 style="border:#071251; border-width:5px; border-style:solid; width: 300px; margin-left: 600px; background-color: #071251; color: white; font-family: Helvetica, sans-serif;">Let's Get Started</h4> </a>


</section>
<br><br>
<h3></h3>
<br>


<h1><strong class="header">POPULAR THIS WEEK</strong></h1>


<br>


<figure>
  <div class="row">
  <div class="column">
    <img class="covers" src="covers/emergency.png" alt="Emergency Intercom">
  </div>
  <div class="column">
    <img class="covers" src="covers/reconomy.png" alt="REconomy">
  </div>
  <div class="column">
    <img class="covers" src="covers/coffeebreakfr.png" alt="Coffee Break French">
  </div>
<div class="column">
    <img class="covers" src="covers/anythinggoes.png" alt="Anything Goes">
  </div>
</div>
</figure>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
<br>
</html>
