html{
background-color: #427bd2;
}


h1 {
 color: black;
 border: 2px black;
 margin-left: 2em;
 font-size: larger;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 text-align: left;
}

h2 {
 color:#F4A460 ;
 margin-left: 0.5em;
 font-size: 250%;
 font-family: "Georgia";
}

h3 {
font-family: "Helvetica, sans-serif";
border-bottom-style: solid; 
padding-left: .5em;
padding-right: .5em;
}

h4 {
font-family: "Georgia";
}

p {
 font-family: "Georgia";
 font-size: 1em;
 margin-left: 0.5em;
 padding-left: 4.5em;
}

li {
 font-family: "Helvetica, sans-serif";
 color: black;
 font-size: 1em;
 line-height: 2em;
 letter-spacing: 3px;
 display: flex;
}

img {
margin: 3px;
max-width: 100%;
width: 100px;
height: 100px;
}

.mainlogo {
 font-family: "Helvetica, sans-serif";
 width: 350px;
 height: 125px;
}

.logo {
border-bottom-style: solid; 
width: 250px;
height: 150px;
padding-left: 4.5em;
}

.icons {
 width: 50px;
 height: 50px;
 
}

.header {
 color: black;
 font-weight: bold;
 font-size: 2.5em;
}

.title {
text-align: left;
padding-left: 4.5em;
}

.covers {
width: 400px;
height: 350px;
border-radius: 25%;
}

.gifs {
padding-left: 3em;
float: left;
margin: 3px;
padding-right: 3em;
}

.block {
float: right;
padding-right: 4em;
display: flex;
flex-wrap: wrap;
}

nav ul {
margin: 10;
padding: 0;
list-style-type: none;
display: flex;
 justify-content: right;
}

nav ul li a {
 padding: .5em 2em; 
 margin: 1em;
}


article {
  display: flex;
  flex-wrap: wrap;
}

td, th {
border: 1px solid gray; 
}

dl, dt, dd {
font-size: 1em;
font-family: "Georgia";
padding-top: 0.2em;
padding-bottom: 0.2em;
padding-left: 0.5em;
padding-right: 0.5em;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
}

.border {
border-top-style: inset; 
border-right-style: inset; 
border-bottom-style: inset; 
border-left-style: inset; 
}

figure {
text-align: center;
}

#ssmenu {
letter-spacing: 4px;
}

#vegan{
background-color: #a2e0bf;
}

.description {
text-align: center;
color: #F4A460;
background: #6b1125; 
width: 1200px;
height: 100px;
padding: 20px;
border: 5px solid #F4A460; 
margin: 20px;
justify-content: center;
}

.row {
  display: flex;
}

.column {
  flex: 20%;
  padding: 5px;
}

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}


.modal-content {
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	position: relative;
	text-align: center;
	padding: 20px;
}

input {
	width: 50%;
	display: block;
	margin: 15px auto;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}
